---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tictake-web-frontend
  labels:
    app: web-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-frontend
  template:
    metadata:
      labels:
        app: web-frontend
    spec:
      containers:
        - name: web-frontend
          image: ghcr.io/disam8853/tictake/web-frontend:main
          ports:
            - containerPort: 80
              name: http
